<mat-card *ngFor="let r of recipes$ | async" class="recipe-card">
  <div class="row">
    <img *ngIf="r.imageUrl" [src]="r.imageUrl" class="thumb" />
    <div class="content">
      <h3>{{ r.title }}</h3>
      <p class="desc">{{ r.description }}</p>
    </div>
  </div>

  <mat-card-actions class="footer-actions">
  <small class="date">{{ r.createdAt.toDate() | date:'dd.MM.yyyy HH:mm' }}</small>
  <button mat-button [routerLink]="['/detail', r.id]">Открыть</button>
  <button mat-icon-button color="warn" (click)="delete(r.id!)">
    <mat-icon>delete</mat-icon>
  </button>
</mat-card-actions>
</mat-card>
